Source: ros-jazzy-vitis-common
Section: misc
Priority: optional
Maintainer: Víctor Mayoral-Vilches <victor@accelerationrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ocl-icd-opencl-dev, opencl-headers, ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ament-vitis, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-vitis-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ros-workspace
Description: Common code for working with Vitis™ Unified Software Platform in ROS.
